<div class="container mt-5">
  <h2 class="h2-style text-center">Votre corps a des choses à vous dire.<br>Je suis là pour les écouter.</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline2">
        <div class="timeline" *ngFor="let item of timelineItems">
          <div class="timeline-content">
            <span class="year">
              <i class="fa fa-1x" [ngClass]="item.iconClass"></i>
            </span>
            <div class="inner-content">
              <h3 class="title">{{ item.title }}</h3>
              <ul>
                <li *ngFor="let desc of item.description" class="description">{{ desc }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
